{
  "extends": "@antfu",
  "rules": {
    "vue/one-component-per-file": "off",
    "no-console": "off",
    "no-prototype-builtins": "off",
    "no-eval": "off",
    "@typescript-eslint/no-var-requires": "off"
  }
}
